{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center align-items-center p-5">
    <div class="col-md-3  text-center text-white p-5 mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-success" type="submit"> Login</button>
        </form>
        <p class="mt-2">Dont you have an account ? <a href="{%url 'register' %}">Signup</a></p>
    </div>
</div>  
  
{% endblock content %}