{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center align-items-center p-5">

    <div class="col-md-4 mt-5 p-5 text-center text-white">
        <!-- errors  -->

        {% if form.errors %}
<div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
    <div id="form_errors">
    {% for key, value in form.errors.items %}
        <span class="fieldWrapper">
            {{ key }}:{{ value }}
        </span>
    {% endfor %}
</div>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %}

        <!-- end errors -->
        <form action="" method="POST">
            {% csrf_token %}
           
           {% for form in forms  %}
           {{form|as_crispy_field}}
           {% endfor %}

           <button class="btn btn-success" style="color: white;" type="submit"> Register </button>

           <h6>Already have and account <a href="{% url  'login' %}"> Sign In</a></h6>
        
        </form>
    
    </div>

</div>




  
{% endblock content %}